<section>
    <h2>List of Posts</h2>
    <!-- <aside *ngIf='post$ | async as posts'>
        <button type="button" *ngFor='let post of posts'>
            {{post.title | slice:0:6}} {{post.userId}}
        </button>
    </aside> -->
    <aside *ngIf='postWithUser$ | async as postWithUsers'>
        <!-- <pre>{{postWithUsers | json}}</pre> -->
        <button type="button" *ngFor='let post of postWithUsers'>
            {{post.title | slice:0:6}} {{post.user}}
        </button>
    </aside>
</section>