<head>
  <link rel="stylesheet" href="../elements/styles.css">
  <script src="../elements/elements.js"></script>
  <style>
    .title {
      margin: 0;
      display: flex;
    }

    .title .fas {
      margin-left: auto;
    }

    my-dropdown {
      --my-max-width: 400px;
    }
  </style>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<my-dropdown>
  <h2 slot="title" class="title">Images</h2>
  <span slot="icon" class="fas fa-caret-down"></span>
</my-dropdown>

<script>
  // derived from https://medium.com/@gordonchendev/web-components-with-angular-elements-fb34bf2ab952

  const object = [
    { "publisher": "Vera Drake", "label": "nature" },
    { "publisher": "Emily Kim", "label": "animals" },
    { "publisher": "Lisa Traylor", "label": "people" },
    { "publisher": "Sukiya Wang", "label": "nature" },
    { "publisher": "David Hassoun", "label": "miscellaneous" },
    { "publisher": "David Hassoun", "label": "abstract" },
    { "publisher": "Emily Kim", "label": "city" }
  ]

  const el = document.querySelector('my-dropdown');
  el.listItems = object;
  el.addEventListener('selectedItem', (event) => {
    console.log(event);
  })
</script>